<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Helpfulcore.Ste.Configuration.ServicesConfigurator, Helpfulcore.Ste" />
    </services>
    <helpfulcore>
      <stronglyTypedFieldFactory type="Helpfulcore.Ste.StronglyTypedFieldFactory, Helpfulcore.Ste" singleInstance="true"/>
    </helpfulcore>
    <pipelines>
      <ste.wrapField>
        <!--CheckboxFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.CheckboxFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>checkbox</type>
          </fieldTypes>
        </processor>
        <!--ImageFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.ImageFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>image</type>
          </fieldTypes>
        </processor>
        <!--FileFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.FileFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>file</type>
          </fieldTypes>
        </processor>
        <!--DateTimeFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.DateTimeFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>date</type>
            <type>datetime</type>
          </fieldTypes>
        </processor>
        <!--ListFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.ListFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>checklist</type>
            <type>treelist</type>
            <type>treelist with search</type>
            <type>treelistex</type>
            <type>multilist</type>
            <type>multilist with search</type>
            <type>accounts multilist</type>
            <type>tags</type>
          </fieldTypes>
        </processor>
        <!--LinkFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.LinkFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>droplink</type>
            <type>droptree</type>
          </fieldTypes>
        </processor>
        <!--GeneralLinkFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.GeneralLinkFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>general link</type>
            <type>general link with search</type>
          </fieldTypes>
        </processor>
        <!--TextFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.TextFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>text</type>
            <type>single-line text</type>
            <type>multi-line text</type>
          </fieldTypes>
        </processor>
        <!--RichTextFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.RichTextFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>rich text</type>
          </fieldTypes>
        </processor>
        <!--NumberFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.NumberFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>number</type>
          </fieldTypes>
        </processor>
        <!--IntegerFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.IntegerFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>integer</type>
          </fieldTypes>
        </processor>
        <!--NameLookupValueListFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.NameLookupValueListFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>name lookup value list</type>
          </fieldTypes>
        </processor>
        <!--NameValueListFieldWrapper-->
        <processor type="Helpfulcore.Ste.Pipelines.WrapFieldProcessor, Helpfulcore.Ste" singleInstance="true">
          <param name="fieldWrapperType">Helpfulcore.Ste.Model.Fields.NameValueListFieldWrapper, Helpfulcore.Ste</param>
          <fieldTypes hint="list">
            <type>name value list</type>
          </fieldTypes>
        </processor>
      </ste.wrapField>
    </pipelines>
  </sitecore>
</configuration>