<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Helpfulcore.Ste.Mvc.Configuration.ServicesConfigurator, Helpfulcore.Ste.Mvc" />
    </services>
    <helpfulcore>
      <mvc>
        <viewModelFactory type="Helpfulcore.Ste.Mvc.ViewModelFactory, Helpfulcore.Ste.Mvc" singleInstance="true"/>
      </mvc>
    </helpfulcore>
    <pipelines>
      <mvc.getModel>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']"
	                 type="Helpfulcore.Ste.Mvc.Pipelines.Mvc.GetModel.GetFromView, Helpfulcore.Ste.Mvc"/>
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>