<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass9 type="Sug.Feature.MyFeature.Examples.MyClass9, Sug.Feature.MyFeature" singleInstance="true">
          <param name="dataFolder">$(dataFolder)</param>
        </myclass9>

        <myclass91 type="Sug.Feature.MyFeature.Examples.MyClass9, Sug.Feature.MyFeature" dataPath="$(dataFolder)">
          <param name="dataFolder">$(dataPath)</param>
        </myclass91>
      </myfeature>
    </feature>
  </sitecore>
</configuration>