<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass6 type="Sug.Feature.MyFeature.Examples.MyClass6, Sug.Feature.MyFeature">
          <names hint="raw:AddItemName">
            <home guid="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}">
              <name>Home</name>
            </home>
            <medialibrary guid="{3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1}">
              <name>Media Library</name>
            </medialibrary>
          </names>
        </myclass6>
      </myfeature>
    </feature>
  </sitecore>
</configuration>