<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass2 type="Sug.Feature.MyFeature.Examples.MyClass2, Sug.Feature.MyFeature">
          <param name="name">Constructor parameter value</param>
        </myclass2>
      </myfeature>
    </feature>
  </sitecore>
</configuration>