<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass7 type="Sug.Feature.MyFeature.Examples.MyClass7, Sug.Feature.MyFeature" singleInstance="true">
          <param name="myclass4" ref="feature/myfeature/myclass4" />
        </myclass7>
      </myfeature>
    </feature>
  </sitecore>
</configuration>