<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass8 type="Sug.Feature.MyFeature.Examples.MyClass8, Sug.Feature.MyFeature">
          <param name="linkManager" type="Sitecore.Abstractions.BaseLinkManager, Sitecore.Kernel" resolve="true"/>
        </myclass8>
      </myfeature>
    </feature>
  </sitecore>
</configuration>