<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <myfeature>
        <myclass5 type="Sug.Feature.MyFeature.Examples.MyClass5, Sug.Feature.MyFeature">
          <locations hint="list">
            <location>/sitecore/content/Home</location>
            <location>/sitecore/media library</location>
          </locations>
        </myclass5>
      </myfeature>
    </feature>
  </sitecore>
</configuration>