<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set"
  xmlns:environment="http://www.sitecore.net/xmlconfig/environment"
  xmlns:role="http://www.sitecore.net/xmlconfig/role">
  <sitecore>
    <services>
      <configurator type="Sug.Configuration.ServicesConfigurator, Sug"/>
    </services>
    <sites>
      <site name="custom_site"
            hostName="cm.customsite.com"
            patch:before="*[@name='website']"
            rootPath="/sitecore/content/custom-site"
            startItem="Home"
            inherits="website"/>

      <site name="custom_site"
            set:hostName="www.customsite.com"
            role:require="ContentDelivery or Standalone" />

      <site name="custom_site"
            set:hostName="local.customsite.com"
            role:require="ContentDelivery or Standalone"
            environment:require="Local" />

      <site name="custom_site"
            set:hostName="qa.customsite.com"
            role:require="ContentDelivery or Standalone"
            environment:require="qa" />

      <site name="custom_site"
            set:hostName="qa-cm.customsite.com"
            role:require="(ContentManagement or Standalone) and !ContentDelivery"
            environment:require="QA" />
    </sites>
  </sitecore>
</configuration>