<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role" >
  <sitecore>
    <services>
      <configurator type="Sug.Feature.ServiceBus.Configuration.ServicesConfiguratorCm, Sug.Feature.ServiceBus" 
                    role:require="(Standalone or ContentManagement) and !ContentDelivery"/>
      <configurator type="Sug.Feature.ServiceBus.Configuration.ServicesConfiguratorCd, Sug.Feature.ServiceBus"
                    role:require="ContentDelivery"/>
    </services>
    <pipelines>
      <initialize>
        <!-- Initializes the message bus for sending automated messages -->
        <processor type="Sug.Feature.ServiceBus.Pipelines.Initialize.InitializeMessageBus, Sug.Feature.ServiceBus" resolve="true" />
      </initialize>
    </pipelines>
    <Messaging>
      <Rebus>
        <Sug.Feature.ServiceBus.TestMessagesBus>
          <Transport>
            <SqlServer>
              <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
              <OneWay role:require="ContentDelivery">true</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>TestMessagesQueue</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <TestMessageMapping>
                  <Type>Sug.Feature.ServiceBus.Messages.TestMessage, Sug.Feature.ServiceBus</Type>
                  <DestinationQueue>TestMessagesQueue</DestinationQueue>
                </TestMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options role:require="Standalone or ContentManagement">
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </Sug.Feature.ServiceBus.TestMessagesBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>